@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Raleway:wght@400;600;700&display=swap");
@import "../components/scss/helpers";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    background-color: #293241;
}

#nprogress .bar {
    background: #ff5a5f !important;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px !important;
}
